.keys {
    border-radius: 50%;
    width: 9%;
    background-color: yellow;
    color: indigo;
}

body {
    background-color: black;
    color: blanchedalmond;
}

.wrapper {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: 9999;
}

.wrapper h1 {
    position: relative;
    top: 50%;
    /* left: 50%; */
}

@media screen and (max-width: 560px) {
    .wrapper {
        display: block;
    }
}
